@{
    ViewBag.Title = "Home Page";
}

<h2>Bienvenido a EXIID</h2>
<p>
    Para conocer mas acerca de nosotros visite <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://www.exiid.hn</a>.
</p>
